<%= form_with(model: todo_item) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.hidden_field :todo_id, value: @todo.id %>
  </div>

  <div>
    <%= form.hidden_field :done, value: 0 %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary m-1" %>
  </div>
<% end %>
