<div class="card m-4 p-4">
  <div id="<%= dom_id todo %>" class="d-flex justify-content-between">
    <div>
      <strong>Name:</strong>
      <%= todo.name %>
    </div>

    <div class="text-secondary">
      <strong>User:</strong>
      <%= todo.user.email %>
    </div>

    <div class="d-flex">
      <%= link_to "Edit", edit_todo_path(todo), class:"btn btn-warning m-1" %>
      <%= button_to "Delete", todo, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-danger m-1" %>
    </div>
  </div>
</div>
