<div class="m-4 p-4 card">
    <div class="card-header p-4 d-flex justify-content-between">
        <h2><%= @todo.name %></h2>
        <%= link_to "Back", my_todos_path, class:"btn btn-secondary m-1" %>
    </div>
    
    <br>
    <%= turbo_frame_tag "todo_item_form" do %>
        <%= render "todo_items/form", todo_item: @todo_item, todo: @todo %>
    <% end %>
    <br>

    <% if @todo.todo_items.count != 0 %>
       <%= render "layouts/bar", x: @x, y: @y %>
    <% end %>
    
    <div id="my_todos_items">
        <%= turbo_stream_from "todo_items" %>
        <%= turbo_frame_tag "todo_items" do %>
            <% @todo.todo_items.each do |todo_item| %>
                <%= render todo_item %>
            <% end %>
        <% end %>     
    </div>
</div>