<div class="m-4 p-4 card">
    <div class="card-header p-4 d-flex justify-content-between">
        <h2><%= @todo.name %></h2>
        <%= link_to "Back", my_todos_path, class:"btn btn-secondary m-1" %>
    </div>

    <%= turbo_frame_tag "todo_item_form" do %>
        <%= form_with(model: @todo_item) do |form| %>
            <div class="row m-4">
                <div class="col-10">
                    <%= form.text_field :name, class:"form-control" %>
                    <%= form.hidden_field :todo_id, value: @todo.id %>
                    <%= form.hidden_field :done, value: 0 %>
                </div>

                <div class="col-2">
                    <%= form.submit class:"btn btn-primary" %>
                </div>
            </div>
        <% end %>
    <% end %>

    <div id="my_todos_items">
        <%= turbo_stream_from "todo_items" %>
        <%= turbo_frame_tag "todo_items" do %>
            <% @todo.todo_items.each do |todo_item| %>
                <%= render todo_item %>
            <% end %>
        <% end %>     
    </div>
</div>