<div class="m-4 p-4 card">
    <div class="card-header p-4 d-flex justify-content-between">
        <h2>My TODO List</h2>
    </div>

   
    <%= turbo_frame_tag "todo_form" do %>
        <%= render "todos/form" ,todo: @todo %>
    <% end %>

    <div id="my_todos">
        <%= turbo_stream_from "todos" %>
        <%= turbo_frame_tag "todos" do %>
            <% current_user.todos.each do |todo| %>
                <%= render todo %>
            <% end %>
        <% end %>    
    </div>
</div>